DATABASE_URL=postgresql://postgres:postgres@localhost:51359/main?schema=public
SENTRY_SUPPRESS_TURBOPACK_WARNING=1
NEXT_PUBLIC_HOST_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
VALKEY_URL=redis://localhost:55791
ELASTICSEARCH_URL=http://localhost:42601
S3_ENDPOINT=http://localhost:51199
S3_REGION=garage
S3_BUCKET_NAME=readit-media
S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=
PUBLIC_MEDIA_BASE_URL=http://readit-media.web.garage.localhost:21693
